{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for recette in recettes %}
    <tr class="table-active">
      <th scope="row"><h1>{{recette.name}}</h1></th>
      <td>{{recette.category.name}}</td>
      <td><a href="{{ path('show_r', {'id':recette.id}) }}" class="btn btn-info">Lire la suite</a></td>
      <td><a href="{{ path('edit_r', {'id':recette.id}) }}" class="btn btn-danger">Modifier</a></td>
      <td><a href="{{ path('delete_r', {'id':recette.id}) }}" class="btn btn-primary">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}