<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Recette facile{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li 
                    {% if app.request.get('_route') == 'home' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                    >
                        <a class="nav-link" href="{{path('home')}}">Recettes
                        <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li 
                    {% if app.request.get('_route') == 'categories' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                    >
                        <a class="nav-link" href="{{path('categories')}}">Catégories</a>
                    </li>
                    <li 
                    {% if app.request.get('_route') == 'create_r' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                    >
                        <a class="nav-link" href="{{path('create_r')}}">Ajouter une recette</a>
                    </li>
                    <li 
                    {% if app.request.get('_route') == 'create_c' %}
                        class="nav-item active"
                    {% else %}
                        class="nav-item"
                    {% endif %}
                    >
                        <a class="nav-link" href="{{path('create_c')}}">Ajouter une catégorie</a>
                    </li>
                </ul>
                {% if app.request.get('_route') == 'home' %}
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="filter" type="text" placeholder="Une recette, une catégorie">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                    </form>
                {% elseif app.request.get('_route') == 'categories' %}
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="filter" type="text" placeholder="Une catégorie, description">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit" href="{{path('categories')}}">Rechercher</button>
                    </form>
                {% else %}

                {% endif %}

            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
